name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir: [client, shared, server]
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
          # elixir-version: "1"
      - name: Install deps
        working-directory: ${{ matrix.dir }}
        run: gleam deps download

      - name: Run tests
        working-directory: ${{ matrix.dir }}
        run: gleam test

      - name: Format check
        working-directory: ${{ matrix.dir }}
        run: gleam format --check src test
